<i><h2>You are viewing the dog <%= @dog.name %>!!!</h2></i>
<hr>
<i><p>Make sure your dogs information is correct! We want accorate information for your dog so that your dog feels welcomed! </p>

<i><h4> Name: <%= @dog.name %></h4></i>
<i><h4> From: <%= @dog.origin %></h4><i>
<i><h4> Dog Breed: <%= @dog.dog_breed %> </h4></i>
<i><h4> Description: <%= @dog.description %></h4><i>
<i><h4> Temperament: <%= @dog.temperament %></h4></i>
<br>
<i><h3>Owners Contact Information</h3><i>
<hr>
<i><h4>Owners Name: <%= @dog.owners_name%></h4></i>
<i><h4>Contact Information: <%= @dog.phone_number%>