<i><h2>Signup Page</h2><i>
<hr>
<br><%= form_for @user do |f| %>
  <%= render partial: "layouts/doggy_errors", locals: {dog: @user} %>
<i><%= f.label :email %></i>
<%= f.text_field :email %>
<%= f.label :password %>
<%= f.password_field :password %>
<i><%= f.submit "Sign Up!" %></i>
<% end %>