<nav>
<% if logged_in? %>
<ul class="dog">
    <%= link_to "Community", dogs_path%>
    <%= link_to "Appointments", appointments_path%>
    <%= link_to "Register Dog", new_dog_path%>
    <%= link_to "Breeds!", breeds_path%>
    <%= link_to "The Staff!", veterinarians_path%>
    <%= link_to "Profile", profile_path%>
    <%= link_to "Logout", logout_path, method: "delete" %>
    
<% else %>
    <ul class="dog">
    <%= link_to "Signup", new_user_path %>
    <%= link_to "Login", login_path %>
   <%= link_to  "Register with Google", "/auth/google_oauth2" %>
    <% end %>
    </nav>
    </ul>